//font
@font-family:                 "Microsoft YaHei";
@tab-font-size:               18px;
@text-font-size:              16px;
@title-font-size:             24px;
@sub-title-font-size:         14px;
@text-right-font-size:        14px;
@btn-font-size:               18px;
@top-font-size:               20px;

//color
@tab-font-color:              #828282;
@text-font-color:             #c0c0c0;
@title-font-color:            #12151a;
@sub-title-font-color:        #a1a5ac;
@text-right-font-color:       #adadad;
@btn-font-color:              #ffffff;
@btn-bg:                      #96d2f2;
@top-font-color:              #aca6ae;

@top-bg:                      #1e232b;

//width
@container-width:             937px;

//height
@top-height:                  57px;

